node_modules
dist
dist-ssr
.vite
.vite-cache

*.local
.env
.env.*
!.env.example

.DS_Store
Thumbs.db

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
